<div class="container">
        <div class="panel panel-default">
          <div class="panel-heading"> Shrikrishna preached Bhagwad Gita to whom ? </div>
          <div class="panel-body">
                <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio"> Duryodhan
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio"> Arjuna
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio" > Shakuni
                        </label>
                      </div>
          </div>
        </div>
</div>
      