<div class ="container">
<div class="row">
    <div class="col-sm-2"><label class="control-label col-4" for="username">Username:</label> </div>
    <div class="col-sm-12"><input type="text" formControlName="username" id="username" required 
              name="username" placeholder="Enter Username"> </div>
    </div>

    <div class="row">
        <div class="col-sm-2"><label class="control-label col-4" for="password">Pssword:</label> </div>
        <div class="col-sm-12"><input type="text" formControlName="password" id="password" required 
                  name="password" placeholder="Enter Password">          
      </div>
</div>
</div>