<div class ="container">
    <div *ngIf="viewLogin">
       

        <div class="panel panel-default">

            <div class="panel-heading"> Login Page </div>
            <div class="panel-body">

                <div [formGroup]="loginForm">
                  
                  <div class="row">
                  <div class="col-sm-2"><label class="control-label col-4" for="username">Username:</label> </div>
                  <div class="col-sm-8"><input type="text" formControlName="userName" id="username"  value=""
                            name="username" placeholder="Enter Username"> </div>
                  </div>
                  <br>  
                  <div class="row">
                      <div class="col-sm-2"><label class="control-label" for="password">Password:</label> </div>
                      <div class="col-sm-8"><input type="password" formControlName="passWord" id="password"   value=""
                            name="password" placeholder="Enter Password"> </div>
                  </div>
                  <br>
                  
                    <div class="row">
                    <div class="col-sm-2">
                        <label class="control-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-default" (click)="submitQuestion()">Sign In</button>
                        <button type="button" class="btn btn-link" (click)="viewRegisterForm()">New User?</button>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-2">
                          <label class="control-label"></label>
                      </div>
                      <div class="col-sm-4">
                          <button type="submit" class="btn btn-link" (click)="submitQuestion()">Forgot Password?</button>
                      </div>
                   </div>
  
                </div>
            </div>
          </div>      
    </div>
</div>

<div class ="container">
<div *ngIf="viewRegister">
     
    <div class="panel panel-default">

        <div class="panel-heading"> Register Page </div>
        <div class="panel-body">

        <div [formGroup]="registerForm">

        <div class="row">
        <div class="col-sm-2"><label class="control-label col-4" for="firstName">First Name:</label> </div>
        <div class="col-sm-8"><input type="text" formControlName="firstName" id="firstName"  
                  name="firstName" placeholder="First Name"> </div>
        </div>

        <br>

        <div class="row">
        <div class="col-sm-2"><label class="control-label col-4" for="lastName">Last Name:</label> </div>
        <div class="col-sm-8"><input type="text" formControlName="lastName" id="lastName" name="lastName" placeholder="Last Name"> </div>
      </div>
  
      <br>

      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="dateOfBirth">Date Of Birth:</label> </div>
          <div class="col-sm-8"><input type="date" formControlName="dateOfBirth" id="dateOfBirth"  
                    name="dateOfBirth" placeholder="Date Of Birth"> </div>
       </div>
  
      <br>
  
      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="gender">Gender:</label> </div>
          <div class="col-sm-8">
            <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other </div>
       </div>
  
      <br>
  
      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="email">Email:</label> </div>
          <div class="col-sm-8"><input type="email" formControlName="email" id="email"  
                    name="email" placeholder="Email ID"> </div>
       </div>
  
      <br>

      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="registerusername">Username:</label> </div>
          <div class="col-sm-8"><input type="text" formControlName="registerusername" id="registerusername"  
                    name="registerusername" placeholder="Username"> </div>
       </div>
  
      <br>
      
      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="registerpassword">Password:</label> </div>
          <div class="col-sm-8"><input type="password" formControlName="registerpassword" id="registerpassword"  
                    name="registerpassword" placeholder="Password"> </div>
       </div>
  
      <br>
            
      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="securtyQuestion">Security Question:</label> </div>
          <div class="col-sm-8"><input type="text" formControlName="securtyQuestion" id="securtyQuestion"  
                    name="securtyQuestion" placeholder="Security Question"> </div>
       </div>
  
      <br>
                  
      <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="answer">Choose Answer:</label> </div>
          <div class="col-sm-8"><input type="text" formControlName="answer" id="answer"  
                    name="answer" placeholder="Answer"> </div>
       </div>
       
       <br>

       <div class="row">
          <div class="col-sm-2"><label class="control-label col-4" for="answer">Choose Topics Of Interest:</label> </div>
          <div class="col-sm-4">
          <table class="table table-borderless">
          <tr>
            <td>
                <input type="checkbox" name="" value="male"> Spiritual    
            </td>
            <td>
                <input type="checkbox" name="" value="male"> History    
            </td>
            <td>
                <input type="checkbox" name="" value="male"> Geography    
            </td>

          </tr>
          <tr>
              <td>
                  <input type="checkbox" name="" value="male"> Science    
              </td>
              <td>
                  <input type="checkbox" name="" value="male"> Health    
              </td>
              <td>
                  <input type="checkbox" name="" value="male"> Sports    
              </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="" value="male"> Politics    
                </td>
                <td>
                    <input type="checkbox" name="" value="male"> Nutrition    
                </td>
                <td>
                    <input type="checkbox" name="" value="male"> Technology    
                </td>
              </tr>
          </table>
       </div>
       </div>
      <br>

      <div class="row">
          <div class="col-sm-2">
              <label class="control-label"></label>
          </div>
          <div class="col-sm-4">
              <button type="submit" class="btn btn-default" (click)="submitQuestion()">Register</button>
          </div>
      </div>


   </div>
   
</div>   
</div>
</div>   
</div>