<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">1/10</div>
    </div>


  <div class="panel panel-default">

          <div class="panel-heading"> {{quiz.question}} </div>
          <div class="panel-body">
                <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio"> {{quiz.opt1}}
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio"> {{quiz.opt2}}
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio" > {{quiz.opt3}}
                        </label>
                      </div>
                      <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" > {{quiz.opt4}}
                          </label>
                      </div>
          </div>

        </div>

        <div class="row">
            <div class="col-md-6">                
              <a href="#" class="previous">&laquo; Previous</a>
            </div>
            <div class="col-md-6 text-right">
              <a href="#" class="next">Next &raquo;</a>
            </div>
          </div>
      </div>
      