<div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">ISKCON QUIZ</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Bagwad Gita Quiz</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Srimand Bhagwatam Quiz</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Chaitanya Charitram Quiz</a></li>
          </ul>
        </div>
      </nav>

      <div>
          <router-outlet></router-outlet>
      </div>


<!--div class="container">
  <div class="jumbotron">
    <h1>Jai Shri Krishna</h1>
    <h2>{{title}}</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"> Check your Krishna Consciousness </div>
    <div class="panel-body">
      <h3>Enter your name</h3>
    </div>
  </div>
</div -->
