<div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">ISKCON QUIZ</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Bhagwad Gita Quiz</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Srimad Bhagwatam Quiz</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Chaitanya Charitram Quiz</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" [routerLink]="['/admin']">Admin</a></li>
          </ul>
        </div>
      </nav>

      <div>
          <router-outlet></router-outlet>
      </div>
