<div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">IQ Enhancer</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Spiritual</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">History</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Geography</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">Science</a></li>
            <li><a class="nav-link" [routerLink]="['/multiOptionQuiz']">General Knowledge</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" [routerLink]="['/login']">Register/Login</a></li>
              <li><a class="nav-link" [routerLink]="['/admin']">Admin</a></li>
          </ul>
        </div>
      </nav>

      <div>
          <router-outlet></router-outlet>
      </div>
