<div class="panel panel-default">
        <div class="container">
                <div class="jumbotron" style="text-align: center">
                  <h1>Fun And Learn</h1>
                </div>
                  <div class="panel-heading"> 
                    <h3> Practice Makes Everyone Perfect </h3>
                  </div>
                  <div class="panel-body">
                  <p>
                      Intelligent Quotient Enhancer is a quiz based system which increases your intelligent quotient with a simple challenges.
                      Select your topic of interest and start taking quiz. You will see your result at the end of 10 questions. If you get more than 70% in 
                      the first quiz, you will get to 2nd level and then third and then fourth and so on..
                  </p>                       
                  <br>
                  <p>
                    We are adding new and exciting topics everyday. And you can increase your knowledge and memorize the information which matters the most to you.
                    Who doesn't like to look smarter among friends and families and colleagues? so let's get started.. grow your knowledge, grow your intelligence,
                    grow your smartness and grow your confidence... all in fun way !
                  </p>
                  </div>
 </div>
