<div class="panel panel-default">
        <div class="container">
                <div class="jumbotron">
                  <h2>General & Intelligent Quotient Enhancer</h2>
                </div>
                  <div class="panel-heading"> 
                    <div class="form-group row">
                        <div class="col-xs-3">
                          <label for="ex1">Enter Your Full Name :</label>
                        </div>
                        <div class="col-xs-5">
                          <input class="form-control" id="ex1" type="text">
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </div>

                  </div>
                  <div class="panel-body">
                  <p>
                      General and Intellignet Quotient Enhancer is a quiz based system which increases your general knowledge in a fun quiz based system.
                      Select your topic of interest and start taking quiz. You will see your result at the end of 10 questions. If you get more than 70% in 
                      the first quiz, you will get to 2nd level and then third and then fourth and so on..
                  </p>                       
                  <br>
                  <p>
                    We are adding new and exciting topics everyday. And you can increase your knowledge and memorize the information which matters the most to you.
                    Who doesn't like to look smarter among friends and families and colleagues? so let's get started.. grow your knowledge, grow your intelligence,
                    grow your smartness and grow your confidence... all in fun way !
                  </p>
                  </div>
 </div>
